	<div class="container">
			<div class="row">
				<main class="col-md-12">


				
    

					<header>
						<h1>Welcome to my first Project</h1>
					</header>
	
					<section id="introduction">
						<p>Hello, My name is Meet Mangukiya."I will be demonstrating HTML5 principles and techniques, as well as Routing in Express" and so on.</p>
					</section>
	
					<section id="website-overview">
						<h2>Overview of the Website</h2>
						<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including::</p>
						<ul>
							<li><a href="/students">All Students</a></li>
							<li><a href="/students?course=1">Students by Course</a></li>
							<li><a href="/student/1">A Details of by Student Number</a></li>
							<li><a href="/tas">All Teaching Assistants</a></li>
							<li><a href="/courses">All Courses</a></li> 
						</ul>
					</section>
	
					<section id="about-html5">
						<h2>Introduction to HTML 5</h2>
						<p>HTML5 is the newest version of HTML. The term refers to two things. One is the updated HTML language itself, which has new elements and attributes. The second is the larger set of technologies that work with this new version of HTML — like a new video format — and enable you to build more complex and powerful websites and apps.</p>
					</section>

					
				


				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>