
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					
					<article>
                        <h1>
                            Welcome to the HTML5 demo section. 
                        </h1><br>
                            <table class="table" border="1">
                              
                                <thead>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Meet</td>
                                        <td>Mangukiya</td>
                                        <td>meetmangukiya@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Kelvin</td>
                                        <td>Vora</td>
                                        <td>kvora@tcp.com</td>
                                    </tr>
                                    <tr>
                                        <td>Shubh</td>
                                        <td>Thummar</td>
                                        <td>ShubhT@msn.com</td>
                                    </tr>
                                    <tr>
                                        <td>Aryan</td>
                                        <td>Patel</td>
                                        <td>AryanPatel@gmail.com</td>
                                    </tr>
                                </tbody>
                            
                            </table>
                           
                            <section>
                                <h2>Famous Programming Languages</h2>
                            
                                <ol>
                                    <li>Python
                                        <ul>
                                            <li>Web Development</li>
                                            <li>Data Science</li>
                                            <li>Machine Learning</li>
                                        </ul>
                                    </li>
                                    <li>JavaScript</li>
                                    <li>Java</li>
                                    <li>C++</li>
                                    <li>Ruby</li>
                                </ol>
                            
                                <p>
                                    Some of the most widely used programming languages available today are included in the list above. 
                                    Python is especially adaptable, having uses in data science, machine learning, web development, and more.
                                    Moreover, Ruby, C++, JavaScript, and Java are frequently utilized in many software development fields.
                            
                                </p>
                            </section>
                        
            
                        </section>



                
                        <section id="image-section">
                             <h2>Image Example</h2>
                             <p>Below is an example of an image embedded in the HTML:</p>
                     
                             <img src="https://wallpapers.com/images/high/hanuman-ji-hd-meditation-rzyhiajsc0q7kwwl.webp" alt="Mahadev">
                             <p>The img tag is used to embed an image in an HTML page.
         
                                 Images are not technically inserted into a web page; images are linked to web pages. The <img> tag creates a holding space for the referenced image.
                                 
                                 The <img> tag has two required attributes:
                                 
                                 src - Specifies the path to the image
                                 alt - Specifies an alternate text for the image, if the image for some reason cannot be displayed</p>
                         </section>
            
            
                         <section class="audio-section">
                            <h2>Sample demo Audio clip</h2>
                        
                            <audio controls>
                                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                                Your browser does not support the audio element.
                            </audio>
                        
                            <p>
                                An example audio clip can be found in the audio player above. 
                                The controls that are provided allow you to listen to the clip. 
                                he use of HTML5 audio elements to embed audio content directly into a web page is demonstrated in this section. 
                                Multiple audio formats are supported for improved compatibility.
        
                            </p>
                            <section class="video-section">
                                <h2>Sample Video Clip</h2>
                            
                                <video controls width="600">
                                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                                    Your browser does not support the video tag.
                                </video>
                            
                                <p>
                                    A sample video clip is shown in the video player above. The controls that are provided allow you to watch the video.
                                     Using HTML5 video elements, which allow several video codecs for improved browser compatibility, 
                                     video material can be embedded directly into a web page as demonstrated in this section.
            
                                </p>
                            </section>

					
				



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>